@model UserGroupListPartEditViewModel

<div>
    <ul class="list-group with-checkbox">
        @for (int i = 0; i < Model.SelectedUsers.Count; i++)
        {
            <li class="list-group-item">
                <div class="custom-control custom-checkbox float-left">
                    <input type="checkbox" asp-for="@Model.SelectedUsers[i].IsInGroup" class="custom-control-input">
                    <label class="custom-control-label" ></label>
                    <input type="hidden" asp-for="@Model.SelectedUsers[i].GroupUser.Username" />
                    <input type="hidden" asp-for="@Model.SelectedUsers[i].GroupUser.Email" />      
                </div>

                <div class="header">
                    <h5 asp-for="" class="float-left">@Model.SelectedUsers[i].GroupUser.Username<span class="hint"> — @Model.SelectedUsers[i].GroupUser.Email</span></h5>
                </div>
            </li>
        }
    </ul>
</div>
